/* RUBY - plotter partner to SAPPHIRE tracker
coded & designed by BOO
ALL RIGHTS RESERVED 2023 - PRESENT */

#USER { 
  --main:143, 179, 201;
  --alt:140, 106, 148; }

#NAME {
  --main:160, 153, 208;
  --alt:94, 96, 136; }


.ruby {
background:#f4f4f4;
border:1px solid #ddd;
box-shadow:1px 1px 5px #e0e0e0;
color:#666;
font-family:nunito;
font-size:15px;
font-weight:400;
height:575px; width:600px;
line-height:25px;
margin:50px auto 25px;
position:relative;
text-align:left;
text-shadow: 
  -1px 0 #fff9,
  0 1px #fff9,
  1px 0 #fff9, 
  0 -1px #fff9;
z-index:2; }

.ruby b { 
color:rgba(var(--alt), 0.8);
font-weight:900; }
.ruby u { 
border-bottom:2px solid rgba(var(--main), 0.5);
color:#666;
font-weight:700;
text-decoration:none; }
.ruby i { 
opacity:0.6;
text-shadow:none; }

.ruby-out {
height:575px; width:600px;
position:relative;
}

.ruby-in {
 display:inline-block; /* or display:block */
}
.ruby-in input[type=radio] { display:none; }
.ruby-in label {
display:inline-flex;
  justify-content:center;
  align-items:center;
padding-right:5px;
position:relative;
  top:-25px; left:12px;
}
.ruby-in label span {
background:#cacaca;
border-radius:25px;
height:40px; width:30px;
z-index:4;
}
input[type=radio]:checked ~ label span {
background:rgba(var(--alt),0.9);
z-index:5;
}

.ruby-cont {
opacity:0;
overflow:hidden;
padding:25px;
position:absolute;
  top:0px; bottom:0px;
  left:0px; right:0px;
transition:all ease-in-out 0.6s;
z-index:2;
}
input[type=radio]:checked ~ label ~ .ruby-cont {
opacity:1;
transition:all ease-in-out 0.6s;
z-index:3;
}

.ruby-img {
background-position:center;
background-repeat:no-repeat;
border-radius:15px;
height:400px; width:220px;
opacity:0.9;
overflow:hidden;
position:relative;
}

a.ruby-lnx {
background:rgba(var(--main),0.75);
border-radius:15px 15px 0px 0px;
color:#eee;
font-size:11px;
font-weight:900;
padding:5px 15px 3px;
position:absolute;
  bottom:0px; right:25px;
text-align:center;
text-decoration:none;
text-shadow:
  -1px 0 rgba(var(--alt),0.6),
  0 1px rgba(var(--alt),0.6),
  1px 0 rgba(var(--alt),0.6), 
  0 -1px rgba(var(--alt),0.6);
z-index:15;
}


.ruby-rgt {
position:absolute;
  top:0px; right:25px;
width:305px;
}

.ruby-rgt span:before {
background:rgba(var(--main), 0.75);
border-radius:38% 0% 60% 40% / 56% 0% 36% 33%;
color:#eee;
font-size:36px;
font-family:'starry';
  -webkit-font-smoothing: antialiased;
padding:25px;
position:absolute;
  top:-15px; right:-30px;
text-shadow:none;
z-index:-2;
}

.ruby-user, .ruby-name {
background-image:linear-gradient(to bottom right, 
  rgba(var(--main), 0.75) 5%,
  rgb(var(--alt)));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-size:100%;
font-size:28px;
font-weight:900;
padding:15px 0px 0px;
text-shadow:none;
}
.ruby-user:before, .ruby-name:before {
background:#e9e9e9;
border-radius:39% 61% 59% 41% / 42% 30% 70% 58%;
content:'';
display:inline-block;
margin:-15px -35px -15px;
padding:35px;
position:relative;
  left:25px;
z-index:-1;
}

.ruby-stats {
background:#e5e5e5;
border-radius:45% 42% 0% 0% / 52% 21% 0% 17%;
display:inline-flex;
  flex-flow:row wrap;
  align-content:center;
  justify-content:center;
font-size:11px;
height:100px; width:195px;
padding:35px 15px 60px;
padding-left:125px;
position:absolute;
  bottom:0px; right:0px;
}
.ruby-stats u { 
border-bottom:2px solid rgba(var(--alt), 0.3);
color:#888;
display:inline-block;
font-weight:900;
margin:2.5px;
text-decoration:none; }

.ruby-blurb {
padding:20px 30px;
}

.ruby-lft {
background-image:linear-gradient(to bottom, 
  rgba(var(--main), 0.95) 45%,
  rgb(var(--alt),0.5));
border-radius:75% 25% 100% 0% / 15% 100% 0% 85%;
color:#eee;
display:inline-flex;
  flex-flow:row wrap;
  align-content:center;
  justify-content:center;
font-weight:400;
height:115px; width:285px;
padding:40px 75px 30px 40px;
position:absolute;
  bottom:0px; left:0px;
text-shadow: 
  -1px 0 rgba(var(--alt),0.5),
  0 1px rgba(var(--alt),0.5),
  1px 0 rgba(var(--alt),0.5), 
  0 -1px rgba(var(--alt),0.5);
}
